<div class="container">
  <div class="row">
    <div class="center-side col-md-8">
      <div class="items">
        <div class="row">
          <div class="item">
            <figure class="clearfix">
              <div class="image">
                <!-- <img src="//st.nettruyen.com/Data/logos/logo-nettruyen.png" class="lazy" data-original="https://3.bp.blogspot.com/-U9YzPttwuiA/W3Tbu__T-FI/AAAAAAAAY4o/zY5jdHsYWnEs2NLiuzhXTZFGsP4R9vjJACHMYCw/truoc-kia-co-toa-linh-kiem-son" alt="Truyện tranh Trước Kia Có Tòa Linh Kiếm Sơn"> -->
                <span class="icon icon-hot">
                </span>
                <div class="view clearfix">
                  <span class="pull-left">
                    <i class="fa fa-eye">
                    </i> 4.854.643 <i class="fa fa-comment"></i> 1.819 <i class="fa fa-heart"></i> 9.291
                  </span>
                </div>
              </div>
              <figcaption>
              <h3>
              <%= link_to manga.name, manga_path(manga) %>
              </h3>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
