<div class="col-md-2 w3l-movie-gride-agile">
  <a href="" class="hvr-shutter-out-horizontal">
    <%= image_tag(manga.thumbnail.url, alt: "", class: "img-responsive" ) if manga.thumbnail.present? %>
    <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
  </a>
  <div class="mid-1 agileits_w3layouts_mid_1_home">
    <div class="w3l-movie-text">
      <h6><%= link_to truncate(manga.name, length:Settings.mangas.truncate), manga_path(manga) %></h6>
    </div>
    <div class="mid-2 agile_mid_2_home">
      <p><%#= l(manga.created_at, format: :dmy) %></p>
      <div class="block-stars">
        <ul class="w3l-ratings">
          <li><%= rating_for manga, "rate_manga", disable_after_rate: true, readonly: true %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="ribben">
    <p><%= manga.check_manga? %></p>
  </div>
</div>
