<table class="change_padding_category">
<% @categories.in_groups_of(5, false) do |row_tasks| %>
  <tr>
    <% for category in row_tasks %>
      <td><%= link_to category.name, category_path(category) %></td>
    <% end %>
  </tr>
<% end %>
<tr><td><%= link_to t("all_categories"), categories_path %></td></tr>
</table>
